.form-container {
  display: flex;
  justify-content: center;
  margin: 150px auto;
}
fieldset {
  border: none;
}
.fieldset-label {
  display: inline-block;
  font-size: 1.2em;
  border-bottom: 2px solid rgb(130, 130, 130);
  margin: 15px 0 10px 0;
}
form {
  width: 40vw;
}
form > div {
  margin-bottom: 20px;
}

input {
  border-radius: 5px;
  margin: 6px 0 10px 0;
  background: #fff;
  border: 1px solid #c6c7cc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  padding: 6px;
  width: 50%;
  background: #fafbfc;
}
label {
  font-weight: bold;
}
.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

button {
  cursor: pointer;
}
.additional-salary-btn-container {
  margin-bottom: 10px;
}
.additional-salary-btn {
  margin-right: 10px;
}
.add-comp-submit-btn {
  font-weight: bold;
  padding: 8px 14px;
  border-radius: 5px;
  background-color: #fff;
}
.text-danger {
  color: red;
  align-self: first baseline;
}

.is-invalid {
  border-color: red;
}
.practice-type-label {
  margin-bottom: 5px;
}

.type-of-practice {
  margin-bottom: 54px;
}
