.container {
  max-width: 70vw;
  margin-right: auto;
  margin-left: auto;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-size: 0.8rem;
  width: 70vw;
}
th {
  font-size: 1.1rem;
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 5px 5px;
}

tr:nth-child(even) td {
  background-color: rgb(250, 250, 250);
}

tr:nth-child(odd) td {
  background-color: rgb(245, 245, 245);
}

.table-actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

button {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
}
button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}
button a {
  color: #fff;
  text-decoration: none;
}

input {
  padding: 6px 16px;
  border-radius: 6px;
  width: 250px;
}

#clear-search > a {
  text-decoration: none;
  color: blue;
}
#clear-search > a:active {
  color: purple;
}
.pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 40px;
  margin-bottom: 20px;
}
.pagination-list {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.pagination-list > li {
  margin-right: 10px;
}
.company-name {
  color: blue;
}
.location {
  color: black;
}
.company-name,
.job-title,
.total-comp,
.experience {
  font-size: 1.1rem;
}
.practice-type,
.location {
  font-size: 0.8em;
}
.base-salary,
.sign-on,
.production {
  font-size: 0.7em;
}
.experience-header {
  width: 10%;
}

.total-comp {
  display: flex;
  align-items: center;
}
#tooltip {
  position: relative;
  border-radius: 100%;
  color: rgb(26, 155, 26);
}

#tooltip:before,
#tooltip:after {
  position: absolute;
  content: "";
  opacity: 0;
  transition: all 0.4s ease;
}

#tooltip:after {
  content: attr(data-tooltip);
  color: black;
  background-color: rgb(254, 254, 254);
  width: 160px;
  height: 40px;
  font-size: 15px;
  font-weight: 300;
  top: -20px;
  right: -200px;
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 5px;
  letter-spacing: 1px;
  transform: translateY(20px);
}

#tooltip:hover::before,
#tooltip:hover::after {
  opacity: 1;
  transform: translateY(-2px);
}
