.container {
  max-width: 70vw;
  margin-left: 400px;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-size: 0.8rem;
  width: 50vw;
}
th {
  font-size: 1.1rem;
  background-color: #3498db;
  color: black;
  font-weight: bold;
  padding: 10px;
}

td,
th {
  border: none;
  padding: 5px 5px;
  text-align: center;
}

tr:nth-child(even) td {
  background-color: rgb(240, 240, 240);
}

tr:nth-child(odd) td {
  background-color: rgb(220, 220, 220);
}

.table-actions {
  display: flex;
  width: 50vw;
  justify-content: space-between;
  margin-bottom: 20px;
}

button {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
}
button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}
button a {
  color: #fff;
  text-decoration: none;
}

input {
  padding: 6px 16px;
  border-radius: 6px;
  width: 250px;
}

#clear-search > a {
  text-decoration: none;
  color: blue;
}
#clear-search > a:active {
  color: purple;
}
.pagination {
  display: flex;
  width: 50vw;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 40px;
  margin-bottom: 20px;
}
.pagination-list {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.pagination-list > li {
  margin-right: 10px;
}
.company-name {
  color: blue;
}
.location {
  color: black;
}
.company-name,
.job-title,
.total-comp,
.experience {
  font-size: 1.1rem;
}
.practice-type,
.location {
  font-size: 0.8em;
}
.base-salary,
.sign-on,
.production {
  font-size: 0.7em;
}
.experience-header {
  width: 10%;
}

.total-comp {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  font-size: 0.8rem;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  text-align: center;
  border: solid black 1px;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  margin-left: -135px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.comp-header .tooltip-container {
  position: absolute;
}

.tooltip-container {
  margin-left: 25px;
}

.verification-container {
  margin-left: 20px;
}
