{{template "base" .}}
{{define "content"}}
<link rel="stylesheet" type="text/css" href="/static/css/about.css" />
<div class="about">
  <section class="summary">
    <p>
      Veterinarycomp.com is a platform designed to empower veterinarians and
      veterinary staff by providing insights into the financial aspects of their
      professional environment. Our goal is simply to enhance your understanding
      of the financial landscape, providing the confidence needed for effective
      negotiation when exploring new job opportunities.
    </p>
  </section>
  <section class="faq">
    <h3>FAQ</h3>
    <p class="question">What does verification mean?</p>
    <p class="answer">
      Salary data with a check mark next to it indicates that those users
      submitted proof of their compensation. Documents such as offer letters can
      be uploaded and are reviewed to confirm the data entered by the user is
      accurate. The document is then deleted and the users data becomes
      verified.
    </p>
    <p class="question">How do I submit my compensation data?</p>
    <p class="answer">
      To submit your compensation data, click the "add compensation" button on
      the home page and fill out the form. The form will ask for your location,
      job title, salary information, and the name of the practice you work at.
      You can optionally upload proof of your salary information such as an
      offer letter to get verified.
    </p>
    <p class="question" id="verification">Is my personal information safe?</p>
    <p class="answer">
      Yes, we take the privacy and security of your data seriously. It will only
      be used for the intended purpose of providing insights into the financial
      landscape for veterinary professionals. Documents that are uploaded for
      verification are never stored once they are reviewed. Read more about how
      your data is handled
      <a href="/contact">here</a>
      .
    </p>
    <p class="question">What happens after I submit my salary data?</p>
    <p class="answer">
      After you submit the form, the data will be sent to an admin page for
      review. The admin will either approve or decline the submission. If
      approved, your data will appear on the main page and be displayed for
      anyone who visits the site to view.
    </p>
    <p class="question">
      How long does it take for my submission to be approved?
    </p>
    <p class="answer">
      The approval process typically takes a short amount of time. However, the
      exact timeframe may vary depending on the volume of submissions. We aim to
      review and process submissions as efficiently as possible.
    </p>
    <p class="question">Why might a submission be declined?</p>
    <p class="answer">
      Submissions may be declined if there are concerns about the accuracy of
      the information provided. If your submission is declined, you may submit
      your salary information again or you can reach out for assistance
      <a href="/contact">here</a>
      .
    </p>
    <p class="question">Is VeterinaryComp.com free to use?</p>
    <p class="answer">
      Yes, VeterinaryComp.com is currently a free platform for veterinary
      professionals to submit and access compensation data. Any future changes
      to the pricing structure will be communicated transparently.
    </p>
  </section>
</div>

{{ end }}
