{{template "base" .}}
{{define "content"}}
<link rel="stylesheet" type="text/css" href="/static/css/add-comp.css" />

<div class="form-container">
  <form
    id="add-comp-form"
    action="/add-comp"
    method="post"
    novalidate
    class="needs-validation"
  >
    <fieldset class="company-hospital-info">
      <div class="fieldset-label">Hospital/Company Information</div>
      <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
      <div>
        <label for="company-name">Hospital/Company Name: </label>
        <input
          required
          type="text"
          name="company-name"
          placeholder="Banfield Pet Hospital"
        />
      </div>
      <div>
        <label for="location">Location:</label>
        <input type="text" id="location" name="location" required /><br />
      </div>
    </fieldset>
    <fieldset class="job-info">
      <div class="fieldset-label">Job Information</div>
      <div>
        <label for="job-title">Title: </label>
        <input
          required
          type="text"
          name="job-title"
          placeholder="Associate Veterinarian"
        />
      </div>
      <div>
        <label for="type-of-practice">Type of Practice:</label>
        <select
          id="type-of-practice"
          name="type-of-practice"
          onchange="toggleSpecializationInput()"
        >
          <option value="small_animal_medicine_and_surgery">
            Small Animal Medicine and Surgery (GP)
          </option>
          <option value="small_animal_medicine">
            Small Animal Medicine (GP)
          </option>
          <option value="equine_ambulatory">Equine Ambulatory</option>
          <option value="equine_medicine_surgery">
            Equine Medicine and Surgery
          </option>
          <option value="mixed-animal">Mixed Animal</option>
          <option value="exotics">Exotics</option>
          <option value="food_animal">Food Animal</option>
          <option value="shelter_medicine">Shelter Medicine</option>
          <option value="research">Research/Industry</option>
          <option value="specialization">Specialization (small animal)</option>
          <option value="specialization">Specialization (large animal)</option>
          <option value="other">Other</option>
        </select>
      </div>

      <div style="display: none" id="specialization_input">
        <label for="board-certification">Board Certification:</label>
        <input
          type="text"
          id="board-certification"
          name="board-certification"
        />
      </div>
    </fieldset>
    <fieldset class="experience-salary-info">
      <div class="fieldset-label">Experience and Salary Information</div>
      <div>
        <label for="years-experience">Years of Experience:</label>
        <input
          type="text"
          inputmode="numeric"
          id="years-experience"
          name="years-experience"
        />
      </div>
      <div id="base-salary-input">
        <label for="base-salary">Base Salary:</label>
        <input
          type="text"
          inputmode="numeric"
          id="base-salary"
          name="base-salary"
          required
        />
      </div>
      <div class="additional-salary-btn-container">
        <button
          type="button"
          onclick="toggleSalaryElements('sign-on-bonus')"
          class="additional-salary-btn"
        >
          Add Sign On Bonus</button
        ><button
          type="button"
          onclick="toggleSalaryElements('production')"
          class="additional-salary-btn"
        >
          Add Production
        </button>
      </div>
      <div id="sign-on-bonus" style="display: none">
        <label for="sign-on-bonus">Sign-on Bonus:</label>
        <input
          type="text"
          inputmode="numeric"
          id="sign-on-bonus"
          name="sign-on-bonus"
        />
      </div>
      <div id="production" style="display: none">
        <label for="production">Production:</label>
        <input
          type="text"
          inputmode="numeric"
          id="production"
          name="production"
        />
      </div>
    </fieldset>
    <fieldset class="verification-info">
      <div>
        <label for="verification-document">Upload Verification:</label>
        <input
          type="file"
          id="verification-document"
          name="verification-document"
        />
      </div>
    </fieldset>
    <div>
      <button type="submit" class="add-comp-submit-btn">Submit</button>
    </div>
  </form>
</div>

{{ end }}

{{define "js"}}
<script>
  function toggleSpecializationInput() {
    const typeOfPracticeSelect = document.getElementById("type-of-practice");
    const specializationInput = document.getElementById("specialization_input");
    if (typeOfPracticeSelect.value === "specialization") {
      specializationInput.style.display = "block";
    } else {
      specializationInput.style.display = "none";
    }
  }
  function toggleSalaryElements(elementIdToToggle) {
    const elementToToggle = document.getElementById(elementIdToToggle);
    if (elementToToggle.style.display === "none") {
      elementToToggle.style.display = "block";
    } else {
      elementToToggle.style.display = "none";
    }
  }
  document.addEventListener("DOMContentLoaded", () => {
    const form = document.querySelector("form");
    form.addEventListener("submit", async (event) => {
      event.preventDefault();
      const formData = document.getElementById("add-comp-form");
      formData.append("csrf_token", "{{.CSRFToken}}");
      try {
        await fetch("/add-comp", { method: "post", body: formData });
        window.location.href = "/";
      } catch (err) {
        console.log(err);
      }
    });
  });
</script>
{{ end }}
