{{template "base" .}}
{{define "content"}}
<link rel="stylesheet" type="text/css" href="/static/css/home.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="container">
  <div class="table-actions">
    <form action="/search-comp" method="get">
      <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
      <input
        type="text"
        id="comp-search"
        name="location-hospital"
        placeholder="Search by location or hospital" />
      <button type="submit">Search</button>
      {{if .IsSearchPerformed}}
      <span id="clear-search" style="display: inline">
        <a href="/">clear search</a>
      </span>
      {{ end }}
    </form>
    <div>
      <a href="/add-comp"><button>Add Compensation</button></a>
    </div>
  </div>
  <table class="comp-table">
    <tr>
      <th>
        Company/Hospital
        <div>(location)</div>
      </th>
      <th>
        Job Title
        <div>(type of practice)</div>
      </th>
      <th class="experience-header">Years of Experience</th>
      <th class="comp-header">
        Compensation (USD)
        <span class="tooltip-container">
          <div class="tooltip">
            <a href="/about#verification">
              <i class="fa fa-question-circle"></i>
            </a>
            <span class="tooltiptext">
              Check marks indicate verified compensations. Click to learn more.
            </span>
          </div>
        </span>
      </th>
    </tr>
    {{ range.Data.compensations }}
    <tr>
      <td class="company-name">
        {{ .CompanyName }}
        <br />
        <div class="location">({{ .Location }})</div>
      </td>
      <td class="job-title">
        {{ .JobTitle }}
        <div class="practice-type">({{ .PracticeType }})</div>
      </td>
      <td class="experience">{{ .YearsExperience }}</td>
      <td class="total-comp">
        {{if .IsHourly}}
        <div>
          Hourly Rate:
          <span>$</span>
          <span id="formattedNumber">{{.HourlyRate}}</span>
          <div class="sign-on">
            Sign on bonus:
            <span id="formattedNumber">{{.SignOnBonus}}</span>
          </div>
          <div class="production">
            Production:
            <span id="formattedNumber">{{.Production}}</span>
          </div>
        </div>
        {{else}}
        <div>
          Total Compensation:
          <span>$</span>
          <span id="formattedNumber">{{.TotalCompensation}}</span>
          <div class="base-salary">
            Base salary:
            <span id="formattedNumber">{{.BaseSalary}}</span>
          </div>
          <div class="sign-on">
            Sign on bonus:
            <span id="formattedNumber">{{.SignOnBonus}}</span>
          </div>
          <div class="production">
            Production:
            <span id="formattedNumber">{{.Production}}</span>
          </div>
        </div>
        {{ end }}
        <div class="verification-container">
          {{ if .Verified}}
          <span>&#10004;</span>
          {{ end }}
        </div>
      </td>
    </tr>
    {{ end }}
  </table>
  <div class="pagination">
    {{if .IsSearchPerformed}}
    <ul class="pagination-list">
      {{if (gt .Data.page.CurrentPage 1)}}
      <li>
        <a
          href="/search-comp?location-hospital={{ .Data.locationOrHospital }}&page={{ .Data.page.Previous }}">
          {{.Data.page.Previous}}
        </a>
      </li>
      {{
        end
      }}
      <li>{{.Data.page.CurrentPage}}</li>
      {{if (lt .Data.page.CurrentPage .Data.page.TotalPage)}}
      <li>
        <a
          href="/search-comp?location-hospital={{ .Data.locationOrHospital }}&page={{ .Data.page.Next }}">
          {{.Data.page.Next}}
        </a>
      </li>
      {{
        end
      }}
      {{if and (eq .Data.page.CurrentPage 1) (gt .Data.page.TotalPage 2)}}
      <li>
        <a
          href="/search-comp?location-hospital={{ .Data.locationOrHospital }}&page=3">
          3
        </a>
      </li>
      {{
        end
      }}
    </ul>
    {{else}}
    <ul class="pagination-list">
      {{if (gt .Data.page.CurrentPage 1)}}
      <li>
        <a href="/{{.Data.page.Previous}}">{{.Data.page.Previous}}</a>
      </li>
      {{
        end
      }}
      <li>{{.Data.page.CurrentPage}}</li>
      {{if (lt .Data.page.CurrentPage .Data.page.TotalPage)}}
      <li>
        <a href="/{{.Data.page.Next}}">{{.Data.page.Next}}</a>
      </li>
      {{
        end
      }}
      {{if and (eq .Data.page.CurrentPage 1) (gt .Data.page.TotalPage 2)}}
      <li><a href="/3">3</a></li>
      {{
        end
      }}
    </ul>
    {{ end }}
  </div>
</div>

{{ end }}

<script>
  const formatWithCommas = (value) => {
    return new Intl.NumberFormat("en-US").format(value);
  };
  document.addEventListener("DOMContentLoaded", function () {
    const elements = document.querySelectorAll("#formattedNumber");
    elements.forEach((element) => {
      const value = parseFloat(element.textContent);
      element.textContent = formatWithCommas(value);
    });
  });
</script>
